#root {
  margin: 0;
  padding: 0;
  width: 100vw;
  --main-text-color: rgba(14, 255, 14, 0.829);
  --main-bg-color: #292929;
  --main-bg2-color: rgb(12, 12, 12);
  --main-bg3-color: rgb(2, 2, 2);
  --main-scroll-hover: #26d374;
  --main-placeholder-color:  rgba(240, 248, 255, 0.692);
}

.form-container{
  background-color: #171717;
  height: 100vh;
  color: aliceblue;
  display: flex;
  align-items: center;
  justify-content: center;
}

.form-wrapper{
  display: flex;
  background-color: var(--main-bg-color);
  padding: 1em 3em;
  border-radius: 10q;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1em;
}

.logo{
  color: var(--main-text-color);
  font-weight: bold;
  font-size: 1.1em;
}

.title{
  color: var(--main-text-color);
  font-size: 1em;
}

.btnChat{
  font-size: 1.2em;
  font-weight: bolder;
}.btnChat:hover{
  background-color: #26d374;
  transition: .3s;
}

.imgAvatar{
  width: 2em;
  height: 2em;
}

.home{
  background-color: var(--main-bg-color);
  color: var(--main-text-color);
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container{
  border: 0.1em solid whitesmoke;
  border-radius: 1em;
  width: 75%;
  height: 80%;
  display: flex;
  overflow: hidden;
}

.sidebar{
  flex: 1;
  border-right: 0.1em solid var(--main-text-color);
  background-color: var(--main-bg2-color);
  position: relative;
}

.navbar{
  display: flex;
  align-items: center;
  background-color: var(--main-bg3-color);
  height: 3em;
  padding: 1em;
  justify-content: space-between;
  color: whitesmoke;
}

.icon{
  height: 2.2em;
  width: 2.2em;
  object-fit: cover;
  border-radius: 25q;
}

.user{
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
  gap: 0.3em;
}

.logout{
  border-radius: 25q;
}

.logout:hover{
  background-color: rgba(16, 190, 16, 0.829);
  transition: all ease 0.2s;
}

.search{
  border-bottom: 0.1em solid gray;
}

.searchform{
  background-color: #313131;
  padding: 0.1em;
  border-radius: 15q;
  margin-left: 0.4em;
  margin-right: 0.4em;
}

.inputsearch{
  border: none;
  outline: none;
  height: 1em;
  padding: 1em;
}

.userchat{
  padding: 1em;
  display: flex;
  align-items: center;
  gap: 1em;
}

.userchat:hover{
  background-color: #1a1a1a;
}

.iconfriend{
  width: 2.5em;
  height: 2.5em;
}

.userchatinfo span{
  font-size: 1em;
  font-weight: 500;
}

.userchatinfo p{
  font-size: 0.8em;
  color: var(--main-placeholder-color);
  margin: 0 0 0 .4em;
}

.chat{
  flex: 2;
}

.chatinfo{
  height: 2em;
  background-color: var(--main-bg3-color);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5em;
  color: azure;
}

.chaticons{
  display: flex;
  gap: .3em;
}

.iconadds{
  width: 1.5em;
  height: 1.5em;
  border-radius: 0;
}

.messages{
  color: azure;
  padding: 1em;
  height: calc(100% - 8.5em);
  overflow-y: scroll;
}

.messages::-webkit-scrollbar{
  width: 0.5em;
  height:  0.5em;
}

.messages::-webkit-scrollbar-thumb {
    background: var(--main-text-color);
    border-radius: 4px;
}

.messages::-webkit-scrollbar-thumb:hover {
    background: var(--main-scroll-hover);
    box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
}

.messages::-webkit-scrollbar-thumb:active {
    background-color: var(--main-scroll-hover);
}

.messages::-webkit-scrollbar-track {
    background: black;
}

.message{
  display: flex;
  gap: 1.3em;
  margin-bottom: 1.3em;
}

.messageinfo{
  display: flex;
  flex-direction: column;
  color: var(--main-placeholder-color);
  font-weight: 300;
  margin-bottom: 1.3em;
}

.messageinfo span{
  font-size: 0.9em; 
}

.messagecontent{
  max-width: 80%;
  display: flex;
  flex-direction: column;
  gap:1em;
}

.messagecontent img{
  max-width: 10em;
  max-height: 10em;
  object-fit: cover;
}

.messagecontent p{
  background-color: azure;
  color: black;
  padding: 0.4em;
  border-radius: 0 .49em .49em .49em;
}

.owner{
  flex-direction: row-reverse;
}

.owner .messagecontent p{
  background-color: #26d374;
  max-width: max-content;
}

.owner .messagecontent{
  align-items: flex-end;
}

.sendmessage{
  background-color: var(--main-bg3-color);
  height: 2.5em;
  padding: 0.5em;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.sendmessage input{
  width: 100%;
  border: none;
  padding: 0.5em;
  border-radius: 0.3em;
  background-color: var(--main-bg-color);
  outline: none;
  font-size: 1em;
}

.send{
  display: flex;
  align-items: center;
  padding: 1em;
  gap: 1em;
}

.send img{
  background-color: transparent;
  border-radius: 0;
  height: 1.7em;
  width: 1.7em;
}

.send button{
  border-radius: 0.3em;
  padding: 1em 1.5em;
  font-weight: bold;
  font-size: .8em;
}

@media screen and (max-width: 480px){

}

@media screen and (max-width: 768px){
  .logo{
    display: none;
  }
  .container{
    width: 90%;
  }
  .logout{
    position: absolute;
    bottom: 1em;
  }
}

@media screen and (max-width: 1200px){

}
